@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .glow {
    text-shadow: 0 0 20px #00a693;
  }
  .not-glow {
    text-shadow: none;
  }
  :root {
    --background: 231 62% 96%;
    --foreground: 232 25% 12%;
    --primary: 173 100% 33%;
    --secondary: 40 100% 48%;
    --deco: 335 84% 35%;
  }

  .dark {
    --background: 232 25% 12%;
    --foreground: 231 62% 96%;
    --primary: 173 100% 33%;
    --secondary: 40 100% 51%;
    --deco: 335 84% 35%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
